@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Roboto:wght@100&display=swap');


/*constant*/

.icons-navbar::after{
    content: "";
}
#navbar1 {
    background-color: #56509F !important;
    
    font-size: 20px;
   
}
.navbar-light .navbar-brand {
    
    color: white !important;
}
.menu-right{
    text-align: right;

}
#logo{
    color: blue !important;
    font-weight: 400;
    font-size: 24px !important;
    font-family: bree-serif, serif;
    text-align: left;
}
#logo2{
    color: orange !important;
    font-weight: 400;
    font-size: 24px !important;
    font-family: bree-serif, serif;
    text-align: left;
}
#navbar-2{
    z-index: 1;
    color: transparent !important;
    word-spacing: 30px;
    padding-right: 57px;
    padding-left: 57px;
    
}
.navbar-brand{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 10px;
}
.text-home{
   display: grid;
   position: relative;
   bottom: 10%;
}
/**/
.image-1{
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.card {
    opacity: 0.7;
    width: 30rem;
    position: absolute;
    left: 3%;
    
}.card-body{
    position: relative;
    bottom: 10%;
    
    }
.card-text{
    font-size: 16px;
    display: grid;
}
.card-title{
    color: #56509F;
    font-size: 30px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    
}

/*Welcome section*/
.welcome{
    margin-top: 10%;
    
}
.image-serivce{
    border: 50%;
    height: 50px;
    width: 50px;
    position: relative;
    left: 35%;
}
.service-heading{
    text-align: center;
    font-size: 20px;
    color: #6A7788;
    font-weight: 400;
    font-family: roboto, sans-serif;
    line-height: 24px;
}

.welcome-heading-text{
    font-size: 50px;
    color: #56509F;
    line-height: 60px;
}
.image-serivce-a{
    border: 1px solid #FA6738;
    background-color: #FA6738;
   
    padding: 30px; 
}
.image-serivce-b{
    border: 1px solid #56509F;
    background-color: #56509F;
   
    padding: 30px; 
}
.service-text-heading{
    text-align: center;
}
/*school-info*/
.school-info{
    margin-top: 10%;
}
.school-info-text-heading{
    font-size: 30px;
    color: #56509F;
    font-weight: 400;
    font-family: 'bree-serif', serif;
    line-height: 36px;
}
.school-info-text-para{
    font-size: 18px;
    color: #6A7788;
    font-weight: 600;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    line-height: 26px;
}
.image-home{
    height: 400px;
    width: 350px;
    position: relative;
    bottom: 38%;
    left: 35%;
}
.image-home-1{
    height: 500px;
    width: 500px;
}
.bullet-point-1{
    float: left;
    width: 50%;
}
.bullet-point-2{
    float: right;
    width: 50%;
    
}
/*info*/
.info{
    display: flex;
    background:url(http://designingschool.net/kidcare/images/289288-p6o0fb-215-min.jpg?crc=328683285) no-repeat center;
    min-height:80vh;
    margin-top:-14% ;
    color: #FFFFFF;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-text{
    
   margin-top: 50%;
    font-size: 14px;
    padding: 3px;
    margin-right: 10%;
    margin-left: 10%;
}
.img-info{
    text-align: center;
    border-color: #FFFFFF;
    border-style: solid;
    
    position: relative;
    bottom:  50%;
    width: 144px;
    border-radius: 50%;
    border-width: 3px;
    padding: 10%;
}
.img-info::before{
    content: "";
}

/*image-school*/
.image-school{
    margin-top:10% ;
}
.school-image{
    margin-bottom: 10px;
}
.new{
    display:grid;
   grid-column-gap:5% ;
    grid-row-gap: 5%;

}
.image-school-text{
    text-align: center;
    font-size: 18px;
    font-family: 'bree-serif', serif;
    line-height: 26px;
}
.home-text-heading{
    color: #56509F;
    font-size: 50px;
    line-height: 60px;}

/*enrollment*/
.enrollment{
        margin-top: 10%;
        background: url(http://designingschool.net/kidcare/images/o6g4co0-min.jpg?crc=3774178554) no-repeat center;
        height: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
.enrollment-text-heading{
    font-size: 48px;
    font-weight: 400;
    font-family: bree-serif, serif;
}
.enrollment-text{
    font-size: 20px;
    padding: 5%;
    font-weight: 400;
    color: #FA6738;
    font-weight: bolder;
    font-family: 'bree-serif', serif;
    }
    /*teacher*/
    .teachers{
        margin-top: 10%;
    }
    
    .teacher-text{
        text-align: center;
    }
    
    .info-teachers-image{
        float: left;
        width: 49%;
        margin-bottom: 4%;
    }
    .info-teachers-text{
        float: right;
        width: 49%;
    }
    .teachers-text{
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        font-family: roboto, sans-serif;
        line-height: 24px;
      
    }
    
    /*partner*/
    .partner{
        background: url(http://designingschool.net/kidcare/images/o6v4lw0-min.jpg?crc=4251128255) no-repeat center;
        height: auto;
        margin-top: 10%;
        text-align: center;
        font-size: 48px;
        color: white;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*contact*/
    .contact{
        margin-top:10% ;
        text-align: center;
        font-size: 18px;
        font-family: roboto, sans-serif;
    }
    .contact-heading{
        font-size: 50px;
        color: #56509F;
    }
    .service-text-contact{
        font-size: 20px;
    }

    
      

@media only screen and (max-width:480px) {
    
    .card{
        width: auto;
        margin-right: 3%;
    }
    /*Welcome section*/
    .image-serivce-a image-serivce-b{
        margin-bottom: 4%;
    }
    .service-text{
        height: auto;
    }
    /*school-info*/
    .school-info{
        padding: 5%;
    }
    .image-home-1{
        height: 300px;
        width: 300px;
    }
    .image-home{
        height: 250px;
        width: 250px;
        position: relative;
        left: 27%;
        bottom: 27%;
    }
    /*info*/
    .info{
        height: auto;
        
    }
    
    .info-text{
        margin-top: 0%;
        position: relative;
        top: 10% !important;
        font-size: 13px;
        left: 20%;
        
    }
    /*image-school*/
    .image-school-text{
        font-size: 12px;
    }
    .home-text-heading{
        font-size: 27px;
        line-height: 20px;
    }
    .school-image{
        height: auto;
        width: auto;
        margin-left: 2.5%;
       
    }
    .new{
        display:grid;
       grid-column-gap:0% ;
        grid-row-gap: 0%;
    
    }
   /*enrollment*/
   .enrollment{
       height: auto;
       width: auto;
   }
   .enrollment-text{
       font-size: 15px;
       color: white;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   /*teacher*/
   .teachers-text{
    width: auto;
    font-size: 15px;

 }
 .info-teachers-image{
    height: auto;
    width: auto;
    margin-bottom: 4%;
  
 }
 .info-teachers-text{
     float: right;
     width: 50%;
 }
 
}
    /*contact*/
    .contact{
        font-size: 15px;
    }



@media screen and (min-device-width: 481px) and (max-device-width: 768px){

    .card{
        width: 25rem;
        margin-left: 3%;
    }
    /*Welcome section*/
    .welcome{
        margin-bottom: 2%;
    }
    .image-serivce-a {
        margin-bottom: 4%;
    }
    .image-serivce-b{
        margin-bottom: 4%;
    }
    .service-text{
        height: auto;
    }
    /*school-info*/
    .school-info{
        padding-left: 5%;
        padding-right: 5%;
    }
    .image-home-1{
        height: 400px;
        width: 400px;
    }
    .image-home{
        height: 330px;
        width: 330px;
        position: relative;
        left: 27%;
        bottom: 27%;
    }
    /*info*/
    .info{
        height: auto;
    }
    .info-text{
        margin-top: 0%;
        position: relative;
        top: 10% !important;
        font-size: 15px;
    }
    /*image-school*/
    .image-school-text{
        font-size: 12px;
    }
    .home-text-heading{
        font-size: 27px;
        line-height: 20px;
    }
    .school-image{
        height: auto;
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
        
    }
    .new{
        display:grid;
       grid-column-gap:0% ;
        grid-row-gap: 0%;
    
    }
    /*enrollment*/
    .enrollment{
        height: auto;
        width: auto;
    }
    .enrollment-text{
        font-size: 25px;
        color: white;
    }
    /*teacher*/
    .teacher-text{
        text-rendering: auto;
        font-size: 14px;
    }
    .info-teachers-image{
        height: auto;
        width: min-content;
        margin-bottom: 4%;
      
     }
     .info-teachers-text{
         width: min-content;
         
     }

     /*contact*/
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
    .card{
        width: 27rem;
    }
    /*welcome*/
    
    .service-text{
       width: fit-content;
       height: 500px;
       font-size: 16px;
    }
    /*school-info*/
    .image-home-1{
        height: 450px;
        width: 400px;
    }
    .image-home{
        height: 300px;
        width: 280px;
        
    }
    /*info*/
    .info{
        margin-top: 5%;
        height: auto;
        width: auto;
    }
    .info-text{
        margin-top: 0%;
        position: relative;
        top: 15% !important;
        font-size: 18px;
    }
    /*image-school*/
   .school-image{
    height: auto;
    width: auto;
   }
   /*enrollment*/
   .enrollment{
       height: auto;
       width: auto;
   }
   .enrollment-text{
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 30px;
   }
   /*teacher*/
   .teachers{
      margin-top: 5%;
   }
   /*teacher*/
   .teachers-text{
    width: auto;
    font-size: 20px;

 }
 .info-teachers-image{
    height: auto;
    width: auto;
 }
  /*contact*/
}


@media screen and (min-device-width: 1024px){
    /*welcome*/
    
    .service-text{
        width: 250px;
        height: 300px;
        font-size: 16px;
     }
      /*info*/
    .info{
        
        height: auto;
        width: auto;
    }
    .info-text{
       
        position: relative;
       
        font-size: 18px;
    }

 
    /*enrollment*/
   .enrollment{
        height: auto;
        width: auto;
}
    .enrollment-text{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 45px;
}

}