@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Roboto:wght@100&display=swap');


/*constant*/


.navbar-light .navbar-brand {
    
    color: white !important;
    font-size: 20px;
}

#logo{
    color: blue !important;
    font-weight: 400;
    font-size: 24px !important;
    font-family: bree-serif, serif;
    text-align: left;
}
#logo2{
    color: orange !important;
    font-weight: 400;
    font-size: 24px !important;
    font-family: bree-serif, serif;
    text-align: left;
}
#navbar-2{
    z-index: 1;
    color: transparent !important;
    word-spacing: 30px;
    padding-right: 57px;
    padding-left: 57px;
    
}
.navbar-brand{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 10px;
}
.text-home{
   display: grid;
   position: relative;
   bottom: 10%;
}
/*
.text{
    position: relative;
    bottom: 70%;
    display: grid;
    grid-template-columns: 20px 20px;
    grid-template-rows: 30px;
    border: black;
    
}*/

/*welcome*/
.welcome{
    margin-top: 10%;
    padding: 5%;
}
.service-heading{
    text-align: center;
}
.text-service{
    text-align: center;
}
.image-serivce{
    border: 50%;
    height: 50px;
    width: 50px;
    
}

#image-serivce-a  {
    border: 1px solid #FA6738;
    background-color: #FA6738;
    padding: 30px 14px 23px ;
    border-bottom: 2px;
}
#image-serivce-b{
    border: 1px solid #56509F;
    background-color: #56509F;
    padding: 30px 14px 23px ;
    border-bottom: 2px;
}
#image-serivce-c{
    border: 1px solid #FA6738;
    background-color: #FA6738;
    padding: 30px 14px 23px ;
    border-bottom: 2px;
}
#image-serivce-d{
    border: 1px solid #56509F;
    background-color: #56509F;
    padding: 30px 14px 23px ;
    border-bottom: 2px;

}

.text-service{
    text-align:center;
}
.service-text{
    text-align: center
}

/* school-info*/

.home-text-heading{
    font-size: 30px;
    font-family: 'bree-serif', serif;
    font-weight: 400;
    line-height: 36px;
    color: #56509F ;

}
.home-text-para{
    color: #6A7788;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    font-family: 'roboto', sans-serif;
    line-height: 26px;
    
}
.image-home{
    height: 400px;
    width: 350px;
    position: relative;
    bottom: 40%;
    left: 40%;
}
.image-home-1{
    height: 500px;
    width: 500px;
}

.bullet-point-1{
    float: left;
    width: 50%;
}
.bullet-point-2{
    float: right;
    width: 50%;
}


.info{
    display: flex;
    background:url(http://designingschool.net/kidcare/images/289288-p6o0fb-215-min.jpg?crc=328683285) no-repeat center;
    height: 100vh;
    margin-top: -15%;
    text-align: center;
}

.img-info{
    z-index: 1323;
    border-color: #FFFFFF;
    background-color: transparent;
    border-style: solid;
    padding-bottom: 44px;
    position: relative;
    width: 144px;
    
    border-radius: 50%;
    border-width: 3px;
    
}

.info-text{
    position: relative;
    top: 30%;
    left: 10%;
    font-size: 14px;
    padding: 3px;
    margin-right: 10%;
    margin-left: 10%;
   
}
/**/
.image-school{
    margin-top: 10%;
}

.image-school-text{
    text-align: center;
    font-size: 20px;
    font-family: bree-serif, serif;
    line-height: 60px;
}

/*parents*/
.parents{
    margin-top: 10%;
}
.parents{
    display: flex;
    background:url(http://designingschool.net/kidcare/images/289233-p6o0by-624-min.jpg?crc=4083061931) no-repeat center;
    height: 100vh;
    
    
}

.parents-text{
    position: relative;
    left: 50%;
    top: 5%;
}
.parents-image{
    position: relative;
    top: 14%;
    left: 17%;
    
}

.image-parents{
    margin-bottom: 2%;
    border: 5px solid purple;
}

.parents-text-1{
    position: relative;
    top: 20%;
    text-align: center;
    right:  27%;
    margin-right: 5%;
    color: #6A7788 !important;
}


/*#school-class-type-1{
    height: 50px;
    width: 50px;
    margin: 1%;
}
#school-class-type-2{
    height: 80px;
    width: 80px;
    position: relative;
    left: 50%;
    margin: 1%;
}
#school-class-type-3{
    height: 80px;
    width: 80px;
    position: relative;
    left: 0%;
    margin: 1%;
}

.class-school{
    text-align: center;
}
*/

.service-text-contact{
    font-size: 15px;
}


.enrollment{
    margin-top: 10%;
    background: url(http://designingschool.net/kidcare/images/o6g4co0-min.jpg?crc=3774178554) no-repeat center;
    height: 60vh;
}

.enrollment-text{
    font-size: 25px;
    padding: 10%;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 48px;
    font-family: bree-serif, ser
}

.teachers{
    margin-top: 10%;
}
.teacher-info{
    background-color: #F2F2F2;
    border: 1px solid #FA6738;}
.teachers-text{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: roboto, sans-serif;
    line-height: 24px;
}
.info-teachers-image{
    float: left;
    width: 40%;
}
.info-teacher-text{
    float: right;
    width: 60%;
    
    
}

.partner{
    background: url(http://designingschool.net/kidcare/images/o6v4lw0-min.jpg?crc=4251128255) no-repeat center;
    height: 50vh;
    margin-top: 10%;
    text-align: center;
    font-size: 48px;
    color: white;
}
.news{
    margin-top: 10%;
    text-align: center;
}

.contact{
    margin-top:10% ;
    text-align: center;
    font-size: 20px;
}
@media  (max-width: 480px){

    
    .welcome{
        line-height: 17px;
    }

    .image-home{
        height: 180px;
        width: 180px;
    }
    .image-home-1{
        height: 250px;
        width: 250px;
    }

    .info{
        height: 150vh;
    }
    .info-text{
        font-size: 13px;
        position: relative !important;
        bottom: 100% !important;
    }
    .img-info{
        z-index: 1323;
        border-color: #FFFFFF;
        background-color: transparent;
        border-style: solid;
        position: relative;
        width: 100px;
        left: 25%;
        border-radius: 50%;
        border-width: 3px;
        
    }
    .partner{

        height: 100vh;
    }
    
}